
.titlebar {
    /* border-bottom: 1px solid #bbbbbb; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    padding: 4px;
    gap: 4px;
    font-size: 14px;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: rgb(240, 240, 240); */

    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.titlebar-left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
}

.titlebar-center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: center;
    font-weight: bold;
    font-family: 'KaiTi', 'Courier New', Courier, monospace;
}

.titlebar-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}

.titlebar-right-container button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c5c5c5;
    border-width: 0px;
}

