.md-html-container {
    margin: 0px;
    padding: 8px;
    background-color: white;
    color: black;
}

.md-html-container > p {
    font-size: 1.2em;
    /* font-family: 'SimHei', 'Arial'; */
    margin: 0px;
    padding: 0px;
}

.md-html-container > h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 4px;
    margin: 4px;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid #e7eaed;
}

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 12px;
    margin: 0 12px;
    color: #666;
}

.language-python {
    margin: 8px;
    padding: 12px;
    border-radius: 4px;
    display: block;
    background-color: #f7f7f7;
    border: 1px solid #e7eaed;
}