html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button {
    border-radius: 6px;
    border-width: 0px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

button:hover {
    background-color: rgba(1, 1, 1, 0.1);
}

/* Container that fills up the page */
#root-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
    width: 100%;
    padding: 0px;
    font-size: 12px;
}
