#status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(30, 30, 30); */
    height: 24px;
    padding: 4px;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: rgb(240, 240, 240); */
}

#status-bar-left-container {
    display: flex;
    flex-direction: row;
    padding-left: 4px;
}

#status-bar-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4px;
}


